/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav {
	font-size: 0.75em;
}

.navbar-brand {
	font-weight: bold;
	font-size: 2.5em;
	letter-spacing: -.1em;
}


.greeting {
	margin: 1%;
	padding-bottom: 5px;
}

#homeimage {
	width: 25%;	
	float: right;
	border-radius: 10%;
	margin-right: 10%;
}

